
<div class="container">
    <div *ngIf="set_role == 'STUDENT'">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="selectedyear">
                <mat-option *ngFor="let year of academicYears" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semesters</mat-label>
            <mat-select name="terms"  [(ngModel)]="terms">
                <mat-option *ngFor="let terms of termnumbers" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary search search-btn" (click)="searchbutton();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-1">
            <button class="back-button" (click)="back_()" *ngIf="chart_visibility" style="float: right; margin: 10px;">
                <span class="fa fa-chevron-left"></span> Back</button>
        </div>
    </div>
    <div class="row">
        <hr>

    </div>
    <h1 *ngIf="notPlaced" style="text-align:center;font-weight:normal;">NO PLACEMENT OFFERS YET</h1>

    <div class="row" *ngIf="display">
        <h3 style="font-weight: normal;">PLACEMENT OFFERS</h3>
        <mat-card class="example-card">
        <mat-card-content *ngFor="let r of data">
           
                <p ><b>COMPANY : </b>{{r["company"]}}</p>
                <p><b>ROLE : </b>{{r["role"]}}</p>
                <p><b>SALARY : </b>{{r["salary"]}} LPA</p>

            
           
          </mat-card-content>
        </mat-card>
    </div>

    <div class="row">
        <img *ngIf="showSpinner" src="../../../assets/images/gears.gif" class="center"/>
        <div *ngIf="firstLevelChart && !error_flag && chart_visibility">
            <p class="page-title"><b>{{title}}</b></p>
            <google-chart [data]='firstLevelChart' data-toggle="modal" data-target="#exampleModalCenter" (chartSelect)="onChartSelect($event)">
            </google-chart>
        </div>
        <div *ngIf="error_flag">
            <p class="page-title">{{error_message}}</p>

        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><b>Internal Assessment Details</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><b>Course Name : </b>{{subname}}</p>
              <hr>
              <table class="table">
                  <thead>
                  <tr>
                      <th>IA#</th>
                      <th>Max. Marks</th>
                      <th>Marks Scored</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let ele of barData">
                      <th scope="row">{{ele["iaNumber"]}}</th>
                      <td>{{ele["maxMarks"]}}</td>
                      <td>{{ele["obtainedMarks"]}}</td>
                  </tr>
                  </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
</div>
<div *ngIf = "set_role == 'FACULTY'">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="selectedyear">
                <mat-option *ngFor="let year of academicYears" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semester</mat-label>
            <mat-select name="terms"  [(ngModel)]="terms">
                <mat-option *ngFor="let terms of termnumbers" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary search search-btn" (click)="searchbuttonFaculty();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-1">
            <button class="back-button" (click)="back_()" *ngIf="chart_visibility" style="float: right; margin: 10px;">
                <span class="fa fa-chevron-left"></span> Back</button>
        </div>
    </div>
</div>
<div *ngIf = "set_role == 'HOD'">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="selectedyear">
                <mat-option *ngFor="let year of academicYears" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semester</mat-label>
            <mat-select name="terms"  [(ngModel)]="terms">
                <mat-option *ngFor="let terms of termnumbers" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary search search-btn" (click)="searchbuttonHOD();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-1">
            <button class="back-button" (click)="back_()" *ngIf="chart_visibility" style="float: right; margin: 10px;">
                <span class="fa fa-chevron-left"></span> Back</button>
        </div>
    </div>
    <br><br><br>
    <div class="row" *ngIf="displayFaculty">
        <div class="col-md-2">
            <h3 style="font-weight: normal;">FACULTIES LIST</h3>
            <div *ngFor="let ele of faculties" style="margin-top: 10px">
                <button type="button" class="btn btn-danger-outline" style="width:300px;">{{ele['name']}}</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf = "set_role == 'PRINCIPAL'">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="selectedyear">
                <mat-option *ngFor="let year of academicYears" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Department</mat-label>
            <mat-select [(ngModel)]="selectedDept">
                <mat-option *ngFor="let dept of departments" [value]="dept">{{dept}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semester</mat-label>
            <mat-select name="terms"  [(ngModel)]="terms">
                <mat-option *ngFor="let terms of termnumbers" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary search search-btn" (click)="searchbuttonPrincipal();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-1">
            <button class="back-button" (click)="back_()" *ngIf="chart_visibility" style="float: right; margin: 10px;">
                <span class="fa fa-chevron-left"></span> Back</button>
        </div>
    </div>
    <br><br><br>
    <div class="row" *ngIf="displayFaculty">
        <div class="col-md-2">
            <h3 style="font-weight: normal;">FACULTIES LIST</h3>
            <div *ngFor="let ele of faculties" style="margin-top: 10px">
                <button type="button" class="btn btn-danger-outline" style="width:300px;" (click)="facultyGraph($event)">{{ele['name']}}</button>
            </div>
        </div>
    </div>
</div>
</div>





